.row {
  border-bottom: 1px solid #eaeaea;

  &:hover,
  &:focus {
    background-color: rgba(4, 169, 245, 0.05);
  }

  &:nth-child(2n + 1) {
    background-color: rgba(4, 169, 245, 0.05);
  }
}

.nothingFound {
  text-align: center;
  font-size: 14px;
  padding: 16px 0;
}
